:root {
    --color-red: red;
    --color-blue: blue;
}

.text-color-red {
    color: var(--color-red);
}

.text-color-blue {
    color: var(--color-blue);
}

.box {
    background-color: #D94A38;
    width: 90px;
    height: 20px;
    padding: 40px;
    text-align: center;
}